.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  /* FONT */
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

}

.header__link_active {
  text-decoration: underline;
}


.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  background-image: url("../images/cover.jpg");
  height: 757px;
  position: relative;
  margin-bottom: 180px;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
  position: absolute;
  inset: 0px;
}

.cover__title {
  color: #fff;
  padding: 165px 50px;
  z-index: 2;
  /* FONT */
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  text-transform: uppercase;


}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  word-spacing: 10px;
  /* FONT */
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid white;
  color: white;
  padding: 12px 32px;
  background-color: transparent;
  font-family: Raleway;
  /* FONT */
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin-bottom: 120px;
}

.lots__heading {
  display: block;
  margin-bottom: 27px;
  margin-left: 64px;
  /* FONT */
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: white;
  z-index: 1;
  display: block;
  /* FONT */
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  padding: 40px;
}

.card__text {
  color: white;
  z-index: 1;
  display: block;
  /* FONT */
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 40px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 64px;
}

.about {
  display: grid;
  justify-items: center;
  grid-template-columns: 334px 1fr;
  margin-bottom: 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  /* FONT */
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.footer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu {
  justify-items: center;
  margin-bottom: 115px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}